.Table-header {
    background-color: #ccc;
    color: blue;
    padding: 10px;
    text-align: left;
}
.Table-border {
    background-color: #ccc;
    color: blue;
    padding: 10px;
    text-align: left;
}